html,
body {
    
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100px;
  margin: 0;
}

.gradiente {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #fff4d4;
}

.logo {
  position: absolute;
  width: 109.16px;
  height: 32.02px;
  left: 65px;
  top: 2px;
}

header {
  position: absolute;
  width: 1634.73px;
  height: 37px;

  top: 42px;
}

nav {
}

ul {
  font: helveticaNeue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
}

li a {
  display: block;
  color: #b3aca2;
  padding: 14px;
  text-decoration: none;
}

.get a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 15px;

  position: absolute;
  width: 136px;
  height: 41px;
  left: 1743.73px;
  top: 2px;

  /* Secondary */
  color: #0e6fff;
  border: 1px solid #ff4242;
  box-sizing: border-box;
  border-radius: 4px;
}

.home {
  padding: 210px;
  position: absolute;
  width: 1500px;
  height: 1100px;
  left: 0px;
  top: 0px;
}

.container {
  margin: 0 auto;
  max-width: 1430px;
}

.content-wrapper {
  width: 500px;
  height: 500px;
}

.title-one {
  position: absolute;
  width: 1607.73px;
  height: 678px;
  left: 272px;
  top: 34px;
}

.inspiration {
  /* DESIGN INPIRATION */

  position: absolute;
  position: absolute;
  width: 906px;
  height: 28px;
  left: 0;
  top: 311px;
  /* FONT */
  font-size: 26px;
  /* DISPLAY */
  display: flex;
  align-items: center;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  /* GREY */
  color: rgba(179, 172, 162, 1);
}

.get-in_touch {
  position: absolute;
  width: 674px;
  height: 237px;
  left: 0;
  top: 327px;
  font-size: 84px;
}

.button {
  background-color: #0e6fff;
  border-radius: 8px;
  border: none;
  color: white;

  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 41px;

  position: absolute;
  width: 252px;
  height: 72px;
  left: 0;
  top: 750px;
}

.cinza {
  position: absolute;
  width: 612px;
  height: 250px;
  left: 270px;
  top: 1045px;
}

.verde {
  line-height: 37.4px;
  font-size: 34px;
}

.roxa {
  display: flex;
}

.bloco-foto {
  width: 80px;
  height: 114px;
}

.foto {
  position: absolute;
  width: 81.51px;
  height: 80px;
}

.amarelo {
  width: 303.01px;
  height: 37px;
  font-size: 30px;
}

.vermelho {
}

.vinho {
  width: 303.1px;
  height: 29px;
  font-size: 24px;
}

/*
.coments {
    border: 1px solid red;
    /*margin: 10px;
    padding: 10px;
    width: 499px;
    height: 250px;
    left: 270px;
    top: 946px;
    text-align: center;
}

.much {
    font-size: 16pt;
}

.heart {
    border: 1px solid brown;
    flex-direction: row-reverse;
}


.ceo {
    position: absolute;
    width: 100.51px;
    height: 70px;
    left: 350px;
    bottom: 55px;
    /*top: 650px;
    
}

*/
.slider {
  position: absolute;
  right: 0;
  top: 22%;
  width: 827px;
  height: 949px;
}

.slider-pro {
  background-image: url("images/smart_four.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

/*
.requeriment {
    padding: 100px;
}

*/
