body { 
  margin: 0;
  padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none; 
    font-size: 21px;
  /*font: helveticaNeue;
  list-style-type: none;
  margin: 0;    
  padding: 0;
  display: flex;
  flex-direction: row-reverse;*/
}

li a {
    margin: 0;
    padding: 0;
    text-decoration: none; 
    color: #b3aca2;
  /*display: block;
  color: #b3aca2;
  padding: 14px;
  text-decoration: none;*/
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 34px;
    align-items: center; 
}

.menu {
    display: flex; 
}

.menu li {
    margin-left: 20px; 
}

.menu li a {
    padding: 20px;
}


.gradiente {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #fff4d4;
}

.logo {
 
}

nav {
}

.get a {
  border: 1px solid red;
  border-radius: 4px;
  color: #0e6fff;
}

.home { 
  /* SECTION */
  /*position: absolute;
  width: 1500px;
  height: 1100px;
  left: 0px;
  top: 0px;*/
}

.container {
  margin: 0 auto;
  max-width: 1430px;
  margin-top: 95px;
}

.content-wrapper {
  /*width: 500px;
  height: 500px;*/
}

.title-one {
    margin-bottom: 178px;
  /*position: absolute;
  width: 1607.73px;
  height: 678px;
  left: 272px;
  top: 34px;*/
}

.inspiration {
  /* DESIGN INPIRATION */
  font-size: 26px;
  color: #B3ACA2;
  text-transform: uppercase;
  
  /*position: absolute;
  position: absolute;
  width: 906px;
  height: 28px;
  left: 0;
  top: 311px;
  /* FONT 
  font-size: 26px;*/
  /* DISPLAY 
  display: flex;
  align-items: center;
  letter-spacing: 0.11em;
  text-transform: uppercase;*/
  /* GREY 
  color: rgba(179, 172, 162, 1);*/
}

.get-in_touch {
    font-size: 84px;
    width: 100%;
  /*position: absolute;
  width: 674px;
  height: 237px;
  left: 0;
  top: 327px;
  font-size: 84px;*/
}

.button {
  background-color: #0e6fff;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 30px;
  align-items: center;
  padding: 18px 41px;
  
}

.cinza {
  /*position: absolute;
  width: 612px;
  height: 250px;
  left: 270px;
  top: 1045px;*/
}

.verde {
  font-size: 34px;
}

.roxa {
  display: flex;
  align-items: center;
}

.bloco-foto {
    margin: 10px;
  
}

.foto {
 height: 60px;
}

.amarelo {
  font-size: 30px;
}

.vermelho {
}

.vinho {
  font-size: 24px;
}

.slider {
  position: absolute;
  right: 0;
  top: 22%;
  width: 827px;
  height: 949px;
}

.slider-pro {
  background-image: url("images/smart_four.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
/*
.coments {
    border: 1px solid red;
    /*margin: 10px;
    padding: 10px;
    width: 499px;
    height: 250px;
    left: 270px;
    top: 946px;
    text-align: center;
}

.much {
    font-size: 16pt;
}

.heart {
    border: 1px solid brown;
    flex-direction: row-reverse;
}


.ceo {
    position: absolute;
    width: 100.51px;
    height: 70px;
    left: 350px;
    bottom: 55px;
    /*top: 650px;
    
}

*/


/*
.requeriment {
    padding: 100px;
}

*/
