body {
  font-family: "Karla", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(270deg, #b33327 0.15%, #d93e30 100%);
  border-radius: 16px;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

/* header */

.header {
  height: 47px;
  padding-top: 15px;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
}

.header .logo {
  display: none;
  float: left;
  width: 78px;
  height: 22px;
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  padding: 10px 20px;
  margin-left: 24px;
  text-decoration: none;
}

/* menu */

.header .menu {
  display: none;
  flex-direction: column;
  align-items: center;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 25px 14px;
  margin-top: -16px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 5px;
  border-radius: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 31px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 7px;
  border-radius: 2px;
}

.header .menu-icon .navicon:after {
  top: -7px;
  border-radius: 2px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 280px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.container-header {
  max-width: 375px;
  margin: 0 auto;
  height: 80px;
}

/************** CONTAINER TOTAL ************/

.container-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 374px;
  margin: 0 auto;
  height: 100%;
}

.container-total-title {
  display: flex;
  justify-content: center;
  width: 374px;
  height: 38px;
  margin-top: 62px;
}

.container-title {
  width: 156px;
  height: 38px;
  font-size: 36px;
  font-weight: bold;
  color: #fdfdfd;
  text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
}

.container-image {
  width: 319px;
  height: 267px;
  margin-top: 19px;
  background-image: url(images/charizard_card.png);
  background-repeat: no-repeat;
  z-index: 1;
}

.container-detail-magics {
  display: flex;
  width: 351px;
  height: 41px;
}

.container-generation-point {
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 41px;
  font-size: 16px;
  background-color: #f2cb07;
}

.container-text-generation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 41px;
  font-size: 16px;
  color: #f2f2f2;
}

.container-magics {
  display: flex;
  justify-content: flex-end;
  width: 228px;
  height: 41px;
}

.container-adjuste {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 178px;
  height: 41px;
}

.container-grass {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 21px;
  font-size: 12px;
  background: #73d677;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
}

.container-poison {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 21px;
  font-size: 12px;
  background-color: #07d6f2;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
}

.container-ability {
  width: 353px;
  height: 100px;
  margin-top: 25px;
  background: #fdfdfd;
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  border-radius: 8px;
}

.container-total-text {
  width: 200px;
  height: 100px;
}

.container-text-ability {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 156px;
  height: 60px;
  font-size: 31px;
}

.container-text-overgrow {
  display: flex;
  justify-content: center;
  width: 198px;
  height: 36px;
  font-size: 16px;
}

.container-total-points {
  margin-top: 15px;
  width: 351px;
  height: 185px;
  background: #fdfdfd;
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  border-radius: 8px;
}

.container-adjuste-points {
  width: 276px;
  height: 185px;
}

.container-text-points {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 128px;
  height: 33px;
  font-size: 16px;
  line-height: 19px;
}

.container-number-points {
  display: flex;
  justify-content: center;
  width: 77px;
  height: 23px;
  font-size: 16px;
  line-height: 19px;
}

.container-bar-points {
  display: flex;
  justify-content: center;
  width: 273px;
  height: 41px;
}

.container-bar-points-grey {
  width: 255px;
  height: 8px;
  background: #f6f7f9;
  border-radius: 8px;
}

.container-bar-points-green {
  width: 210px;
  height: 8px;
  background: linear-gradient(270deg, #64d368 0.15%, #64d368 70.88%);
  border-radius: 8px;
}

.container-bar-points-yellow {
  width: 210px;
  height: 8px;
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
  border-radius: 8px;
}

.container-text-experience {
  display: flex;
  justify-content: center;
  width: 98px;
  height: 16px;
  font-size: 16px;
  line-height: 19px;
}

.container-number-experience {
  display: flex;
  justify-content: center;
  width: 77px;
  height: 19px;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.container-total-general-points {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  width: 352px;
  height: 69px;
}

.container-points {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 82px;
  height: 63px;
  padding-top: 5px;
  background: #fdfdfd;
  box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
  border-radius: 8px;
}

.container-number-points-finish {
  border: 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 36px;
  font-size: 18px;
  border-radius: 21px;
}

.container-text-points-finish {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 20px;
  font-size: 11px;
  color: #4b4b4b;
}

.container-background {
  width: 375px;
  margin: 0 auto;
  height: 542px;
  background: linear-gradient(180deg, #732119 42.19%, #d93e30 100%);
  border-radius: 16px;
  margin-top: -502px;

}

/*********************************      7 6 8     *******************************/

