body {
  font-family: "Karla", sans-serif;
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
  height: 100vh;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

/* header */

.header {
  height: 56px;
  padding-top: 22px;
  box-shadow: 0px 1px 5px 2px rgb(0 0 0);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
}

.header .logo {
  display: block;
  float: left;
  width: 78px;
  height: 22px;
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  padding: 10px 20px;
  margin-left: 24px;
  text-decoration: none;
}

/* menu */

.header .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  font-size: 27px;
  border-radius: 0px 0px 16px 16px;
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 25px 26px;
  margin-top: -16px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 5px;
  border-radius: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 31px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 7px;
  border-radius: 2px;
}

.header .menu-icon .navicon:after {
  top: -7px;
  border-radius: 2px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 280px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.container-header {
  max-width: 375px;
  margin: 0 auto;
  height: 80px;
}

.container-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-image {
  display: flex;
  justify-content: center;
  max-width: 767px;
  height: 288px;
}

.image-pikachu {
  width: 375px;
  height: 288px;
  background-image: url("images/BannerComplete.png");
  background-repeat: no-repeat;
}
.container-content {
  max-width: 312px;
  margin: 0 auto;
}

.container-total-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 312px;
  font-size: 42px;
}

.container-total-caption {
  width: 312px;
  height: 107px;
  font-size: 24px;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 312px;
  height: 47px;
  border-radius: 11px;
  background-color: #73d677;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
}

.text-button {
  width: 159px;
  height: 27px;
  font-size: 23px;
  font-weight: bold;
}

.text-button a {
  color: #212121;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-ours-team {
  padding-top: 28px;
  width: 94px;
  height: 19px;
}

.container-text-team {
  height: 19px;
  font-size: 18px;
  font-weight: bold;
  margin-top: -18px;
}

.container-message {
  margin-top: 10px;
  font-size: 11px;
  line-height: 20px;
}

/******* 7 6 8 ******/

@media only screen and (min-width: 768px) {
  p {
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .header .logo {
    display: block;
    float: left;
    width: 130px;
    height: 22px;
    background-image: url("images/logo768.png");
    background-repeat: no-repeat;
    padding: 10px 20px;
    margin-left: 24px;
    margin-top: 15px;
    text-decoration: none;
  }

  .header {
    height: 93px;
    padding-top: 24px;
    box-shadow: 0px 1px 12px -5px rgb(0 0 0);
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  .header li {
    float: left;
    width: 155px;
    margin-left: -24px;
  }

  .header li a {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    width: 134px;
    font-size: 19px;
  }

  .header .menu {
    display: flex;
    flex-direction: row;
    clear: none;
    max-height: none;
    background: #f5db13;
  }

  .header .menu-icon {
    display: none;
  }

  .container-header {
    max-width: 375px;
    margin: 0 auto;
    height: 80px;
  }

  .container-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1023px;
    margin: 0 auto;
  }

  .container-image {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    height: 509px;
    margin-top: 40px;
  }

  .image-pikachu {
    width: 713px;
    height: 509px;
    background-image: url("images/BannerComplete768.png");
    background-repeat: no-repeat;
  }

  .container-content {
    max-width: 639px;
    margin: 0 auto;
    height: 317px;
  }

  .container-total-title {
    height: 168px;
    width: 671px;
    margin-top: -20px;
    font-size: 72px;
  }

  .container-total-caption {
    display: flex;
    justify-content: center;
    width: 639px;
    height: 60px;
    font-size: 24px;
  }

  .container-caption {
    width: 518px;
  }

  .container-total-button {
    display: flex;
    justify-content: center;
    width: 639px;
    height: 100px;
  }

  .container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
    width: 231px;
    height: 63px;
    border-radius: 11px;
    background-color: #73d677;
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  }

  .text-button {
    width: 159px;
    height: 27px;
    font-size: 23px;
    font-weight: bold;
  }

  .text-button a {
    color: #212121;
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 40px;
  }
  .container-ours-team {
    display: flex;
    justify-content: center;
    width: 268px;
    height: 1px;
  }

  .container-text-team {
    height: 19px;
    font-size: 18px;
    font-weight: bold;
  }

  .container-message {
    font-size: 16px;
  }
}
/******** 1 4 4 1 *******/

@media only screen and (min-width: 1441px) {
  p {
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .header .logo {
    display: block;
    float: left;
    width: 130px;
    height: 42px;
    background-image: url("images/logo1024.png");
    background-repeat: no-repeat;
    padding: 10px 20px;
    margin-left: 157px;
    margin-top: 15px;
    text-decoration: none;
  }

  .header {
    width: 100%;
    height: 93px;
    padding-top: 24px;
    box-shadow: 0px 1px 12px -5px rgb(0 0 0);
    position: fixed;
    z-index: 3;
  }

  .header li {
    float: left;
    width: 155px;
    margin-left: -280px;
  }

  .header li a {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    width: 134px;
    font-size: 25px;
  }

  .header .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    clear: none;
    width: 1080px;
    max-height: none;
    margin-left: 532px;
    background: #f5db13;
  }

  .header .menu-icon {
    display: none;
  }

  .container-header {
    max-width: 375px;
    margin: 0 auto;
    height: 80px;
  }

  .container-image {
    display: flex;
    justify-content: center;
    max-width: 1023px;
    height: 700px;
  }

  .image-pikachu {
    width: 713px;
    height: 698px;
    background-image: url("images/BannerInComplete1441.png");
    background-repeat: no-repeat;
  }

  .container-content {
    width: 519px;
    height: 639px;
    margin-left: 210px;
  }

  .container-total {
    display: flex;
    flex-direction: row-reverse;
    width: 1284px;
    height: 740px;
    margin-top: 39px;
  }

  .container-total-title {
    width: 519px;
    height: 380px;
    margin-top: 0;
    font-size: 72px;
  }

  .container-total-caption {
    width: 519px;
    height: 112px;
    font-size: 32px;
  }
  .container-total-button {
    display: flex;
    justify-content: end;
    width: 519px;
    height: 135px;
  }

  .container-button {
    display: flex;
    margin-top: 72px;
    width: 231px;
    height: 63px;
    border-radius: 11px;
    background-color: #73d677;
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  }

  .text-button {
    width: 159px;
    height: 27px;
    font-size: 23px;
    font-weight: bold;
  }

  .text-button a {
    color: #212121;
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1023px;
    padding-top: 40px;
    margin-left: 208px;
  }

  .container-ours-team {
    display: flex;
    justify-content: center;
    width: 268px;
    height: 1px;
  }

  .container-text-team {
    height: 19px;
    font-size: 18px;
    font-weight: bold;
  }

  .container-message {
    font-size: 16px;
  }
}

/**************** P A G E - P O K E D E X *****************/
